<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
  <add key="urls" value="http://www.gov.pe.ca/eecd/assessments/Alberton-Elementary.pdf,
http://www.gov.pe.ca/eecd/assessments/Amherst-Cove-Consolidated.pdf,
http://www.gov.pe.ca/eecd/assessments/Athena-Consolidated.pdf,
http://www.gov.pe.ca/eecd/assessments/Belfast-Consolidated.pdf,
http://www.gov.pe.ca/eecd/assessments/Birchwood-Intermediate.pdf,
http://www.gov.pe.ca/eecd/assessments/Bloomfield-Elementary.pdf,
http://www.gov.pe.ca/eecd/assessments/Bluefield-High.pdf,
http://www.gov.pe.ca/eecd/assessments/Cardigan-Consolidated.pdf,
http://www.gov.pe.ca/eecd/assessments/Central-Queens-Elementary.pdf,
http://www.gov.pe.ca/eecd/assessments/Charlottetown-Rural-High.pdf,
http://www.gov.pe.ca/eecd/assessments/Colonel-Gray-High.pdf,
http://www.gov.pe.ca/eecd/assessments/Donagh-Regional.pdf,
http://www.gov.pe.ca/eecd/assessments/East-Wiltshire-Intermediate.pdf,
http://www.gov.pe.ca/eecd/assessments/Eliot-River-Elementary.pdf,
http://www.gov.pe.ca/eecd/assessments/Ellerslie-Elementary.pdf,
http://www.gov.pe.ca/eecd/assessments/Elm-Street-Elementary.pdf,
http://www.gov.pe.ca/eecd/assessments/Englewood.pdf,
http://www.gov.pe.ca/eecd/assessments/Georgetown-Elementary.pdf,
http://www.gov.pe.ca/eecd/assessments/Glen-Stewart-Primary.pdf,
http://www.gov.pe.ca/eecd/assessments/Greenfield-Elementary.pdf,
http://www.gov.pe.ca/eecd/assessments/Gulf-Shore-Consolidated.pdf,
http://www.gov.pe.ca/eecd/assessments/Hernewood-Intermediate.pdf,
http://www.gov.pe.ca/eecd/assessments/Kensington-Intermediate-Sr-High.pdf,
http://www.gov.pe.ca/eecd/assessments/Kinkora-High.pdf,
http://www.gov.pe.ca/eecd/assessments/LM-Montgomery-Elementary.pdf,
http://www.gov.pe.ca/eecd/assessments/ME-Callaghan-Intermediate.pdf,
http://www.gov.pe.ca/eecd/assessments/Miscouche-Consolidated.pdf,
http://www.gov.pe.ca/eecd/assessments/Montague-Consolidated.pdf,
http://www.gov.pe.ca/eecd/assessments/Montague-Intermediate.pdf,
http://www.gov.pe.ca/eecd/assessments/Montague-Regional-High.pdf,
http://www.gov.pe.ca/eecd/assessments/Morell-Consolidated.pdf,
http://www.gov.pe.ca/eecd/assessments/Morell-Regional-High.pdf,
http://www.gov.pe.ca/eecd/assessments/Mt-Stewart-Consolidated.pdf,
http://www.gov.pe.ca/eecd/assessments/OLeary-Elementary.pdf,
http://www.gov.pe.ca/eecd/assessments/Parkdale-Elementary.pdf,
http://www.gov.pe.ca/eecd/assessments/Parkside-Elementary.pdf,
http://www.gov.pe.ca/eecd/assessments/Prince-Street-Elementary.pdf,
http://www.gov.pe.ca/eecd/assessments/Queen-Charlotte-Intermediate.pdf,
http://www.gov.pe.ca/eecd/assessments/Queen-Elizabeth-Elementary.pdf,
http://www.gov.pe.ca/eecd/assessments/Sherwood-Elementary.pdf,
http://www.gov.pe.ca/eecd/assessments/Somerset-Elementary.pdf,
http://www.gov.pe.ca/eecd/assessments/Souris-Regional.pdf,
http://www.gov.pe.ca/eecd/assessments/Southern-Kings-Consolidated.pdf,
http://www.gov.pe.ca/eecd/assessments/Spring-Park-Elementary.pdf,
http://www.gov.pe.ca/eecd/assessments/St-Jean-Elementary.pdf,
http://www.gov.pe.ca/eecd/assessments/St-Louis-Elementary.pdf,
http://www.gov.pe.ca/eecd/assessments/Stonepark-Intermediate.pdf,
http://www.gov.pe.ca/eecd/assessments/Stratford-Elementary.pdf,
http://www.gov.pe.ca/eecd/assessments/Summerside-Intermediate.pdf,
http://www.gov.pe.ca/eecd/assessments/Three-Oaks-Senior-High.pdf,
http://www.gov.pe.ca/eecd/assessments/Tignish-Elementary.pdf,
http://www.gov.pe.ca/eecd/assessments/Vernon-River-Consolidated.pdf,
http://www.gov.pe.ca/eecd/assessments/West-Kent-Elementary.pdf,
http://www.gov.pe.ca/eecd/assessments/West-Royalty-Elementary.pdf,
http://www.gov.pe.ca/eecd/assessments/Westisle-Composite-High.pdf,
http://www.gov.pe.ca/eecd/assessments/Westwood-Primary.pdf" ></add>

  </appSettings>
</configuration>